STAGE=dev
DB_PASSWORD=MySecr3tPassWord@as2
DB_NAME=ForeverDB
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
PORT=3000
HOST_API=http://localhost:3000/api
JWT_SECRET=MySecretKey44456847
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_CLOUD_NAME=